<!DOCTYPE html>

<html>
<head>
    <title>Tool list</title>
</head>
<body>
    <div>
        <h1><a href="/">Dor's tool database</a></h1>
    </div>

    <div>
        <h2><a href="">My first tool</a></h2>
        <p>LASER BEAM</p>
        <p>stock date: 14.06.2014, 12:14</p>
    </div>

    <div>
        <h2><a href="">My second tool</a></h2>
        <a href="https://google.com">OPA na gugl</a>
        <p>Inference machine</p>
        <p>stock date: 14.06.2014, 12:15</p>
    </div>
</body>
</html>